/* header section */

.menuIcon {
    display: none;
}

.headerSection {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    top: 0px;
    height: 113px;
    position: fixed;
    position: sticky;
    z-index: 1;
    background-color: #FFF;
}

.logoAndTitle {
    display: flex;
    align-items: center;
    width: 142px;
    height: 40px;
    gap: 16px;
}

.travlogTitle {
    font-family: 'CircularStd-900';
    font-size: 24px;
    line-height: 40px;
    text-align: left;
    color: #191825;

}

.navigation ul {
    display: flex;
    width: 428px;
    height: 17px;
    gap: 64px;
}

.ulList {
    font-family: 'CircularStd-700';
    font-size: 14px;
    line-height: 16.8px;
    text-align: left;
    color: #19182580;
}

.ulList.listHome {
    color: #222831;
}

.registration {
    display: flex;
    width: 220px;
    display: flex;
    align-items: center;
}

.registration a {
    font-family: 'CircularStd-700';
    font-size: 14px;
    line-height: 16.8px;
    text-align: center;
}

.registration :first-child {
    color: #222831;
    width: 105px;
    height: 49px;
    padding: 16px 32px;
}

.registration :nth-child(2) {
    color: #EEEEEE;
    width: 115px;
    height: 49px;
    border-radius: 100px;
    background-color: #5D50C6;
    padding: 16px 32px;
}


/* header responsive */

@media (max-width: 1024px) {

    .navigation {
        display: none;
    }

    .headerSection {
        width: 100%;
        left: 64px;
        justify-content: space-between;
        gap: 243px;
    }

    .logoMenuReverse {
        display: flex;
        flex-direction: row-reverse;
        gap: 243px;
        align-items: center;
    }

    .menuIcon {
        display: block;
    }

    .registration {
        width: 100%;
    }

}

@media (max-width: 430px) {

    .headerSection {
        width: 398px;
        height: 112px;
        left: 16px;
        display: flex;
        justify-content: space-between;
    }

    .menuIcon {
        display: none;
    }

}

/* travel section */

.travelSection {
    display: flex;
    align-items: center;
    height: 606px;
    justify-content: center;

}

.travelText {
    display: flex;
    flex-direction: column;
    width: 412px;
    height: 478px;
    gap: 43px;
}

.travelText h2 {
    font-family: 'CircularStd-700';
    font-size: 69px;
    line-height: 82.8px;
    text-align: left;
}

.travelP {
    font-family: 'Inter400';
    font-size: 18px;
    line-height: 28.8px;
    text-align: left;
    color: #19182580;
}

.startedAndWatch {
    display: flex;
    align-items: center;
    width: 338px;
    height: 56px;
    gap: 16px;
}

.getStarted {
    width: 141px;
    height: 49px;
    border-radius: 100px;
    background-color: #5D50C6;
    color: #EEEEEE;
    font-family: 'CircularStd-700';
    font-size: 14px;
    line-height: 16.8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watchDemo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 181px;
    height: 56px;
    border-radius: 100px;
    padding: 16px 32px 16px 32px;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid #EEEEEE;
    font-family: 'CircularStd-700';
    font-size: 14px;
    line-height: 16.8px;
    color: #222831;
}

/* travel section responsive */

@media (max-width: 1024px) {
    .travelSection {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 813.38px;
        top: 113px;
        left: 64px;
        padding: 64px 0px;
        gap: 64px;
    }

    .travelText {
        height: 334px;
        gap: 64px;
        text-align: center;
        align-items: center;
    }

    .travelText h2 {
        width: 896px;
        height: 134px;
        text-align: center;
    }

    .travelP {
        display: flex;
        width: 445px;
        height: 58px;
        text-align: center;
    }
}

@media (max-width: 430px) {
    .travelText {
        width: 398px;
        height: 413px;
        gap: 32px;
    }

    .startedAndWatch {
        flex-direction: column;
    }

    .getStarted {
        width: 398px;
        height: 65px;
        padding: 24px 32px;
    }

    .watchDemo {
        width: 398px;
        height: 72px;
        padding: 24px 32px;
    }

}



/* sites section */

.sites {
    width: 1183px;
    margin: 0 auto;
    height: 160px;
    padding: 64px 0px;
    display: flex;
    justify-content: space-between;
}


/* sites section responsive */

@media (max-width: 1024px) {}

@media (max-width: 430px) {}