/* header section */

.menuIcon {
    display: none;
}


.headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 20px 20px;
    position: fixed;
    position: sticky;
    z-index: 1;
    background-color: #FFF;
}

.logoAndTitle {
    display: flex;
    align-items: center;
    width: 142px;
    /* height: 40px; */
    gap: 16px;
}

.travlogTitle {
    font-family: 'CircularStd-900';
    font-size: 24px;
    line-height: 40px;
    text-align: left;
    color: #191825;

}

.navigation ul {
    display: flex;
    width: 428px;
    height: 17px;
    gap: 64px;
}

.ulList {
    font-family: 'CircularStd-700';
    font-size: 14px;
    line-height: 16.8px;
    text-align: left;
    color: #19182580;
}

.ulList.listHome {
    color: #222831;
}

.registration {
    display: flex;
    width: 220px;
    display: flex;
    align-items: center;
}

.registration a {
    font-family: 'CircularStd-700';
    font-size: 14px;
    line-height: 16.8px;
    text-align: center;
}

.registration :first-child {
    color: #222831;
    width: 105px;
    height: 49px;
    padding: 16px 32px;
}

.registration :nth-child(2) {
    color: #EEEEEE;
    width: 115px;
    height: 49px;
    border-radius: 100px;
    background-color: #5D50C6;
    padding: 16px 32px;
}


/* header responsive */

@media (max-width: 1024px) {

    .navigation {
        display: none;
    }

    .headerSection {
        width: 100%;
        left: 64px;
        justify-content: space-between;
        gap: 243px;
    }

    .logoMenuReverse {
        display: flex;
        flex-direction: row-reverse;
        gap: 243px;
        align-items: center;
    }

    .menuIcon {
        display: block;
    }

    .registration {
        width: 100%;
    }

}

@media (max-width: 430px) {

    .headerSection {
        width: 398px;
        height: 112px;
        left: 16px;
        display: flex;
        justify-content: space-between;
    }

    .menuIcon {
        display: none;
    }

}

/* travel section */

.travelSection {
    display: flex;
    align-items: center;
    height: 606px;
    justify-content: center;

}

.travelText {
    display: flex;
    flex-direction: column;
    width: 412px;
    height: 478px;
    gap: 43px;
}

.travelText h2 {
    color: #000;
    font-family: 'CircularStd-700';
    font-size: 69px;
    line-height: 82.8px;
    text-align: left;
}

.travelText span {
    color: #f85e9f;
    font-family: "Poppins";
    font-size: 69px;
    font-weight: 700;
    line-height: 120%;
}


.travelP {
    font-family: 'Inter400';
    font-size: 18px;
    line-height: 28.8px;
    text-align: left;
    color: #19182580;
}

.startedAndWatch {
    display: flex;
    align-items: center;
    width: 338px;
    height: 56px;
    gap: 16px;
}

.getStarted {
    width: 141px;
    height: 49px;
    border-radius: 100px;
    background-color: #5D50C6;
    color: #EEEEEE;
    font-family: 'CircularStd-700';
    font-size: 14px;
    line-height: 16.8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watchDemo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 181px;
    height: 56px;
    border-radius: 100px;
    padding: 16px 32px 16px 32px;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid #EEEEEE;
    font-family: 'CircularStd-700';
    font-size: 14px;
    line-height: 16.8px;
    color: #222831;
}

/* travel section responsive */

@media (max-width: 1024px) {
    .travelSection {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        top: 113px;
        left: 64px;
        padding: 64px 0px;
        gap: 64px;
    }

    .travelText {
        height: 334px;
        gap: 64px;
        text-align: center;
        align-items: center;
    }

    .travelText h2 {
        width: 896px;
        height: 134px;
        text-align: center;
    }

    .travelP {
        display: flex;
        width: 445px;
        height: 58px;
        text-align: center;
    }
}

@media (max-width: 430px) {
    .travelText {
        width: 398px;
        height: 413px;
        gap: 32px;
    }

    .startedAndWatch {
        flex-direction: column;
    }

    .getStarted {
        width: 398px;
        height: 65px;
        padding: 24px 32px;
    }

    .watchDemo {
        width: 398px;
        height: 72px;
        padding: 24px 32px;
    }

}



/* sites section */

.sites {
    width: 1183px;
    margin: 0 auto;
    height: 160px;
    padding: 64px 0px;
    display: flex;
    justify-content: space-between;
}


/* sites section responsive */

@media (max-width: 1024px) {}

@media (max-width: 430px) {}



/* destination text section */

.arrow-left {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: 1px solid #1918251A;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-right {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: #5D50C6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destinationText {
    display: flex;
    justify-content: space-around;
    padding: 0px 128x;
    margin-top: 64px;
}

.arrows {
    display: flex;
    width: 232px;
    height: 100px;
    gap: 32px;
}

.destinationTitles {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.destinationTitles h4 {
    font-family: 'CircularStd-700';
    font-size: 23px;
    line-height: 27.6px;
    letter-spacing: 0.2em;
    text-align: left;
    color: #F85E9F;
    text-transform: uppercase;
}

.destinationText h3 {
    font-family: 'CircularStd-700';
    font-size: 44px;
    line-height: 52.8px;
}


/* destination image section */

.destinationImageDiv {
    display: flex;
    gap: 32px;
    padding: 64px 128px;
    justify-content: center;
}

.aboutAndMoney {
    display: flex;
    margin-bottom: 16px;
}

.aboutAndMoney :nth-child(1) {
    font-family: 'CircularStd-700';
    font-size: 23px;
    line-height: 27.6px;
    width: 228.33px;
}

.aboutAndMoney :nth-child(2) {
    font-family: 'CircularStd-700';
    font-size: 23px;
    line-height: 27.6px;
    color: #F85E9F;
}

.cityAndRate p {
    font-family: 'Inter400';
    font-size: 18px;
    line-height: 28.8px;
    color: #191825BF;
    margin-bottom: 32px;

}

.destinationAbout {
    padding: 32px 32px;
}


/* destination section responsive */

@media (max-width: 1024px) {}

@media (max-width: 430px) {}



/* travel point section  */

.travelPontSection {
    display: flex;
}

.travelPointText {
    display: flex;
    flex-direction: column;
    width: 441px;
    gap: 32px;
}

.travelPointText h3 {
    font-family: 'CircularStd-700';
    font-size: 23px;
    line-height: 27.6px;
    letter-spacing: 0.2em;
    color: #F85E9F;
    text-transform: uppercase;
}

.travelPointText h2 {
    font-family: 'CircularStd-700';
    font-size: 44px;
    line-height: 52.8px;
    color: #191825;
}

.travelPointText p {
    font-family: 'Inter400';
    font-size: 18px;
    line-height: 28.8px;
    color: #19182580;
}

.textAndSuggestions {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.suggestions {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.suggestions div {
    width: 204.5px;
    height: 151px;
    border-radius: 32px;
    border: 1px solid #1918251A;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.suggestions span {
    font-family: 'CircularStd-700';
    font-size: 35px;
    line-height: 42px;
    color: #FF5722;
}

.suggestions h5 {
    font-family: 'Inter400';
    font-size: 18px;
    line-height: 28.8px;
    color: #191825;
}


/* travel point section responsive */

@media (max-width: 1024px) {}

@media (max-width: 430px) {}



/* key features section */

.keyFeatureText {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 137px 64px 64px 64px;
}

.keyFeatureText h3 {
    font-family: 'CircularStd-700';
    font-size: 23px;
    line-height: 27.6px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #F85E9F;
}

.keyFeatureText h2 {
    font-family: 'CircularStd-700';
    font-size: 44px;
    line-height: 52.8px;
    color: #191825;
}

.keyFeatureText p {
    font-family: 'Inter400';
    font-size: 18px;
    line-height: 28.8px;
    color: #19182580;
}

.location {
    width: 100px;
    height: 100px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5722;
}

.featuresDiv {
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}

.features {
    display: flex;
    gap: 32px;
    padding: 32px;
}

.featureAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.featureAbout h5 {
    font-family: 'CircularStd-700';
    font-size: 23px;
    line-height: 27.6px;
    color: #191825;
}

.featureAbout p {
    font-family: 'Inter40';
    font-size: 18px;
    line-height: 28.8px;
    color: #19182580;
}

.location.schedule {
    background-color: #FACD49;
}

.features.feature2 {
    border-radius: 32px;
    border: 1px solid #1918251A;
}

.location.discount_coupon {
    background-color: #F85E9F;
}

/* key features section responsive */

@media (max-width: 1024px) {}

@media (max-width: 430px) {}


/* footer section */

.mediaText {
    width: 560px;
}

.footerLogoAndTitle {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
}

.mediaP {
    font-family: 'CircularStdBook-500';
    font-size: 23px;
    line-height: 36.8px;
    color: #19182580;
    margin-bottom: 64px;
}

.socMedia {
    display: flex;
    gap: 32px;
}

.navigation h4 a {
    font-family: 'CircularStd-700';
    font-size: 23px;
    line-height: 27.6px;
    color: #191825;
}

.navigation ul a {
    font-family: 'Inter400';
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: #191825BF;
}

.navigation {
    width: 165.33px;
}

.navigation nav {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.footer {
    display: flex;
    flex-direction: row;
    width: 1, 184px;
    margin-left: 96px;
    margin-top: 163px;
    padding: 64px 0px;
    gap: 64px;
}

.fullNav {
    display: flex;
}


/* footer  responsive */

@media (max-width: 1024px) {}

@media (max-width: 430px) {}